{% extends "base.twig" %}

{% block title %}One Media Page{% endblock %}

{% block body %}

<style>
    table, th, td {
        border: 1px solid black;
    }        
</style>

    <h1>One Media Page</h1>
    
    <p>Security Token = {{ sh.security.token }}</p>

    <a href="/">Back to Home</a><br/>
    <a href="media_listall.php">Back to All Songs</a><br/>
    <br/>
    <a href="login.php">Login</a><br/>

    {% if sh.googleUser.name is null %}
        User is not logged in
    {% else %}
        Logged in user : {{ sh.googleUser.name }}
    {% endif %}                        

    <table>
	<caption>
            Here we assign header information to cells by setting the scope attribute.
	</caption>
	<colgroup />
	<colgroup span="2" title="title" />
	<tbody>
            <tr>
                <th>Id</th><td>{{ media.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th><td>{{ song.mediaTipo }}</td>
            </tr>
            <tr>
                <th>Catalogo Ds</th><td>{{ song.catalogoDs }}</td>
            </tr>
            <tr>
                <th>Autore</th><td>{{ song.autore }}</td>
            </tr>
            <tr>
                <th>Opera</th><td>{{ song.opera }}</td>
            </tr>
            <tr>
                <th>Etichetta</th><td>{{ song.etichetta }}</td>
            </tr>
            <tr>
                <th>Anno</th><td>{{ song.anno }}</td>
            </tr>
            <tr>
                <th>Note</th><td>{{ song.note }}</td>
            </tr>
	</tbody>
    </table>
    
{% endblock %}
