{% extends "base.twig" %}

{% block title %}List all songs{% endblock %}

{% block body %}

<style>
    table, th, td {
        border: 1px solid black;
    }        
</style>


    <h1>List all songs</h1>
    
    <p>Security Token = {{ sh.security.token }}</p>

    <a href="/">Back to Home</a><br/>
    <br/>
    <a href="login.php">Login</a><br/>

    {% if sh.googleUser.name is null %}
        User is not logged in
    {% else %}
        Logged in user : {{ sh.googleUser.name }}
    {% endif %}                        

    <table>
	<caption>
            Here we assign header information to cells by setting the scope attribute.
	</caption>
	<colgroup />
	<colgroup span="2" title="title" />
	<thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Filename</th>
                <th>Comments</th>
                <th>Categories</th>
                <th>Link</th>
            </tr>
	</thead>
	<tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.filename }}</td>
                <td>{{ song.comments }}</td>
                <td>{{ song.categories }}</td>
                <td><a href="onesong.php?songid={{ song.id }}">Link</a></td>
            </tr>
        {% endfor%}
	</tbody>
	<tfoot>
                <td>song.id</td>
                <td>song.title</td>
                <td>song.filename</td>
                <td>song.comments</td>
                <td>song.categories</td>
                <td>...</td>
	</tfoot>
    </table>
    
{% endblock %}
